<div class="info" ng-if="infoCtrl.user">
  Firstname: {{ infoCtrl.user.firstname }}
  <br>
  Lastname: {{ infoCtrl.user.lastname }}
  <br>
  E-Mail: {{ infoCtrl.user.email }}
  <br>
  Phone: {{ infoCtrl.user.phone }}
  <br>
  Favourite Dish: {{ infoCtrl.user.favourite }}
  <br>
  Menu name: {{ infoCtrl.name }}
  <br>
  Menu description: {{ infoCtrl.description }}
  <br>
  <img class="img-responsive" width="250" height="150" ng-src="{{infoCtrl.path}}/images/{{infoCtrl.user.favourite}}.jpg" alt="{{infoCtrl.name}}">
</div>
<div class="info" ng-if="!infoCtrl.user">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>
